<?xml version="1.0" encoding="UTF-8"?>
<iguana xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<databases main="dbpedia">
		
		<!-- manually added databases should look like:
		<database id="virtuoso" type="impl">
			# required. Its not possible to use 'localhost' here!
			<endpoint uri="http://uri-to/sparql" />
			# optionaly 
			<user value="username" />
			# optionaly
			<pwd value="password" />
		</database>
		 -->

		<!-- Do not remove the next comment-tag, its required for auto-replacing -->
		<!-- %STORES% -->

		<database id="ref" type="impl">
			<endpoint uri="http://dbpedia.org/sparql" />
		</database>
	</databases>

	<suite>
		<drop-db value="false" />
		<query-diversity value="2000" />
		<graph-uri name="http://dbpedia.org" />
		<random-function type="RandomTriple" generate="false">
			<percent value="1.0" file-name="dbpedia2/" />
		</random-function>
		
		<warmup time="0" file-name="warmup.txt" />
	
		<test-db type="choose" reference="ref">
			<!-- manually added entries should look like:
			<db id="virtuoso" />
			-->			

			<!-- Do not remove the next comment-tag, its required for auto-replacing -->
			<!-- %CHOOSE% -->
		</test-db>

		<testcases>
		   <testcase class="org.aksw.iguana.testcases.StressTestcase">
                <property name="sparql-user" value="1"/>
                <property name="update-user" value="0"/>
                <property name="latency-amount0" value="20"/>
				<property name="latency-strategy0" value="VARIABLE"/>
                <property name="queries-path" value="queries.txt"/>
                <property name="is-pattern" value="false" />
                <property name="timelimit" value="10000"/>
           </testcase>		
		</testcases>
	</suite>


</iguana>

